/* CSS reset */
*, *::before, *::after {
    box-sizing: border-box;
}

body, header, nav, main, footer, h1, div, img, ul, ol, figure {
    margin: 0;
    padding: 0;
    border: 0;
}

body, h1, h2, h3, h4, h5, h6, p,
ul, ol, figure {
    margin: 0;
}

html {
    font-size: 16px;
    height: 100%;
}

/* Body and Main */

body {
    font-family: "Open Sans", system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fbf0c0;
    color: #333333;
    width: 100%;
    height: 100%;
    min-width: 325px;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

section {
    margin-top: 4rem;
}

/* Text */

h1, h2, h3 {
    font-family: "EB Garamond", serif;
    text-align: center;
    margin: 0.5rem;
}

h1 {
    margin-top: 1rem;
    font-size: 40px;
    color: #fcefe1;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

a {
    color: #fbf0c0;
    text-decoration: none;
    transition: 0.5s;
}

p a {
    color: #333333;
}

a:hover {
    color: #eda451;
    text-decoration: underline;
}

.light-text {
    color: #fcefe1;
}

/* ARIA Skip Link */

.skip-link {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-120%);
    text-decoration: none;
    font-weight: bold;
}

.skip-link:focus {
    transform: translateY(0);
}

/* Images */

img {
    max-width: 100%;
    height: auto;
}

/* Card */

.card {
    background-color: #4138309a;
    padding: 1.5rem;
    border-radius: 20px;
    color: #fcefe1e0;
}

/* Header */

header {
    background-color: #4138309a;
    color: #fbf0c0;
}

header {
    display: grid;
}

.logo {
    display: block;
    margin: 1rem auto;
}

/* Nav */

nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #413830da;
    overflow: hidden;
}

nav ul a {
    display: block;
    padding: 2rem;
    list-style: none;
    color: #fcefe1;
    border-bottom: 1px solid #fbf0c0;
    font-weight: bold;
}

nav ul:nth-child(1) {
    margin-top: 2rem;
    border-top: 1px solid #fbf0c0;
}

nav ul a:hover {
    background-color: #413830;
}

nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

.hamb {
    cursor: pointer;
    padding: 0.5rem 0 2rem;
    margin: 0 auto;
}

.hamb-line {
    background: #fcefe1;
    display: block;
    height: .125rem;
    position: relative;
    width: 1.75rem;
}

.hamb-line::before, .hamb-line::after {
    background: #fcefe1;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .25s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 0.6rem;
}

.hamb-line::after {
    top: -0.6rem;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav {
    max-height: 100%;
    padding-top: 1.5rem;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

body:has(.side-menu:checked) {
  overflow: hidden;
}

.side-menu:checked ~ .hamb {
    position: fixed;
    z-index: 999;
    margin: 0.5rem;
    margin-top: 1rem;
}

header:has(.side-menu:checked) .logo {
    margin-bottom: 3.55rem;
}

/* Footer */

footer {
    background-color: #4138309a;
    color: #fcefe1;
    display: grid;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

.social {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem auto 2rem;
}

.social img {
    max-width: 40px;
    opacity: 70%;
    transition: 0.5s;
}

.social img:hover {
    opacity: 100%;
}

/* Hero section */

.hero {
    background-image: url(../images/pizza2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #242118b7;
    background-blend-mode: overlay;
    background-position: top center;
    padding: 1rem;
    text-align: center;
    text-shadow: 2px 2px 5px #313030b7;
    border-radius: 20px;
}

.button {
    display: block;
    color: #fcefe1;
    border: 2px solid #fbf0c0;
    background-color: #c0392f;
    border-radius: 10px;
    padding: 0 0.5rem;
    max-width: 200px;
    margin: 2rem auto;
    margin-top: 2.5rem;
    box-shadow: 2px 2px 5px #333333d0;
    transition: 0.5s;
}

.button:hover {
    background-color: #c20d00;
    box-shadow: none;
    border: 2px solid #4138309a;
}

/* Featured Dishes */

.dishes-container {
    display: grid;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem;
}

.dishes-container :first-child {
    grid-column: 1;
    grid-row: 1;
}

.dishes-container :nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.dishes-container img {
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #333333d0;
}

.dishes-container figcaption {
    text-align: center;
    font-style: italic;
}

/* About Section */

.about-section {
    display: grid;
    gap: 1rem;
    justify-content: space-around;
}

.about-section :first-child {
    margin: 0 1rem 1rem 1rem;
    align-content: baseline;
    grid-column: 1;
    max-width: 425px;
}

.about-section img {
    width: 100%;
    max-width: 250px;
    border-radius: 100%;
    box-shadow: 2px 2px 5px #333333d0;
    grid-row: 2;
    margin: auto;
}

/* Visit Us Section */

.contact-section {
    max-width: 400px;
    margin: 4rem auto 4rem;
}

.contact-section a {
    color: black;
}

/* Media Queries */

@media (min-width: 500px) {

    nav {
        display: flex;
        justify-content: center;
        max-height: none;
        position: relative;
        background-color: transparent;
    }

    nav ul li {
        float: left;
        list-style: none;
    }

    nav ul a:hover {
        background-color: transparent;
    }

    nav ul:nth-child(1) {
        margin-top: 0;
        border-top: none;
    }

    .hamb {
        display: none;
    }
}